@media (max-width:800px) {
    header {
        display: none;
    }

    .btn-quote {
        margin-left: 0px;
    }

    .nav-link:hover {
        border-bottom: 0px;
    }

    .nav-link.active {
        border-bottom: 0px;
    }

    .work-details {
        margin-bottom: 20px;
    }

    .second-work {
        margin-top: 0px;
    }

    .service-box {
        margin-bottom: 20px;
    }

    .charter-manage i{
        font-size: 80px;
    }
    
    .charter-manage p {
        font-size: 17px;
    }

    .ship-truck-banner {
        padding-top: 100px;
    }

    .service-pill .nav-item .nav-link:hover {
        border-bottom: 2px solid rgb(210, 20, 30);
    }

    .service-pill .nav-item .nav-link {
        border-bottom: 2px solid white;
    }

    .service-pill .nav-item .nav-link.active {
        border-bottom: 2px solid rgb(210, 20, 30);
    }
    
    .pill-offset {
        margin-left: 20px !important;
    }

    .contact-info {
        margin-top: 30px;
    }

    .shipping-conditions {
        margin-top: 30px;
    }

    .embed-track {
        height: 280px !important;
    }

    .embed-responsive {
        height: 400px;
    }
}

@media (max-width:480px) {

    .banner {
        min-height: 750px;
    }

    .charter-home {
        padding-top: 80px;
    }

    .charter-box {
        width: 250px;
    }

    .d-grid {
        margin-top: 15px;
    }

    .welcome-single-services .img-box {
        -webkit-clip-path: none;
        clip-path: none;
    }

    .welcome-single-services .img-box, .welcome-single-services .text-box {
        display: block;
        padding: 0;
        width: 100%;
    }

    .welcome-single-services .img-box img {
        width: 100%;
    }

    .welcome-single-services .text-box {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .charter-manage i{
        font-size: 50px;
    }
    
    .charter-manage p {
        font-size: 15px;
    }

    .fxg-jump-links__bar:hover .fxg-jump-links__link-item:hover, .fxg-jump-links__bar .fxg-jump-links__link-item.is-active {
        padding-bottom: 0;
        border-bottom: 4px solid rgb(210, 20, 30);
    }

    .pill-offset {
        margin-left: 70px !important;
    }

    .contact-info-text {
        text-align: center;
    }

    .embed-responsive {
        height: 300px;
    }

    .track-area {
        margin-left: 30px;
    }

    .embed-track {
        height: 200px !important;
    }

    .img-track {
        width: 60px;
        height: 55px;
    }

}

@media screen and (max-width: 992px) {
.fxg-wrapper {
    width: 738px;
    padding: 0 15px;
}

.fxg-link {
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
}
}