@media (max-width:780px) {
    header {
        display: none;
    }

    .banner {
        min-height: 930px;
    }

    .btn-quote {
        margin-left: 0px;
    }

    .nav-link:hover {
        border-bottom: 0px;
    }

    .nav-link.active {
        border-bottom: 0px;
    }

    .work-details {
        margin-bottom: 20px;
    }

    .second-work {
        margin-top: 0px;
    }

    .service-box {
        margin-bottom: 20px;
    }

    .ship-truck-banner {
        padding-top: 100px;
    }
}

@media (max-width:480px) {
    .banner {
        min-height: 1000px;
    }
}