html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ship-loading.gif) center no-repeat #fff;
}


header {
    background-color: rgb(210, 20, 30);
    padding: 10px;
    border-bottom: 1px solid rgb(190, 164, 164);
}

.navbar {
   padding: 20px;
}

.navbar-nav .nav-link {
   color: white !important;
   padding-right: 20px !important;
   font-size: 18px;
}

.nav-link:hover {
    color: rgb(210, 20, 30) !important;
    border-bottom: 2px solid rgb(210, 20, 30);
}

.nav-link.active {
    color: rgb(210, 20, 30) !important;
    border-bottom: 2px solid rgb(210, 20, 30);
}

.btn-quote {
    margin-left: 150px;
    background-color: white;
    color: rgb(210, 20, 30);
    border: 1px solid white;
    font-size: 18px;
}

.btn-quote:hover {
    color: white;
    background-color: rgb(210, 20, 30);
    border: 1px solid white;
}

.header-link {
    text-decoration: none;
}

.header-content {
    color: white;
    font-size: 12px;
    padding-right: 20px;
}

.header-content .fas {
    font-size: 15px !important;
}

.social :hover {
    transform: rotateY(540deg);
    transition: 1s;
    color: black;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/ship-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.banner-text {
    color: white;
    padding-top: 80px;
}

.banner-text h1 {
    font-weight: 600;
}

.banner-text p {
    color: rgb(233, 76, 84);
    line-height: 2em;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }

.banner-form {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    padding: 30px;
}

.banner-form h3 {
    color: rgb(210, 20, 30);
}

.banner-form p {
    font-size: 14px;
}

.btn-get-quote {
    background-color: rgb(210, 20, 30);
    color: white;
    padding: 10px;
    border: 2px solid rgb(210, 20, 30);
}

.btn-get-quote:hover {
    color: rgb(210, 20, 30);
    background-color: white;
}

.main h2 {
    color: rgb(210, 20, 30);
    font-weight: 600;
}

.main p {
    line-height: 2em;
    color: rgb(77, 74, 74);
}

.btn-learn {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    width: 200px;
    padding: 8px;
}

.btn-learn:hover {
    background-color: rgb(210, 20, 30);
    color: white !important;
}

.work-details {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 4px;
    height: 250px;
}


.work-icons {
    color: rgb(210, 20, 30);
    font-size: 30px;
}

.work-text {
    font-weight: 600;
    font-size: 18px;
}

.second-work {
    margin-top: 20px;
}

.services-area {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-box {
    border: 2px solid rgb(210, 20, 30);
    border-radius: 4px;
    padding: 30px;
}

.service-icons {
    color: white;
    font-size: 40px;
}

.service-text {
    font-size: 20px;
}

.list {
    list-style-type: square;
    line-height: 2.2em;
    font-size: 20px;
}

.testimonial-area h3 {
    color: rgb(126, 13, 19);
}

.testimonial-content {
    padding: 30px;
    margin-right: 20px;
    background: #eee;
    box-shadow: 5px 8px 10px rgb(0 0 0 / 0.2);
}

.testimonials-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-content .quote {
    font-size: 20px;
    margin-right: 150px;
    color: rgb(210, 20, 30);
}

.testimonial-content .testimonial-text {
    font-size: 15px !important;
}

.rating .fa-star {
    color: rgb(230, 197, 13);
}

.rating .fa-star-half {
    color: rgb(230, 197, 13);
}

.testimonial-name p{
    font-style: italic;
    font-size: 15px;
    color: rgb(126, 13, 19) !important;
}

.ship-truck-banner {
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../img/shipping-truck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    padding-top: 150px;
}

.btn-truck-quote {
    background-color: rgb(210, 20, 30);
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(210, 20, 30);
    color: white;
    cursor: pointer;
    height: 50px !important;
    width: 55px !important;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.footer-area {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.9);
}

.foot .foot-head {
    color: rgb(210, 20, 30);
}

.foot .foot-link {
    list-style-type: none;
    line-height: 2em;
    padding-left: 0px !important;
}

.foot .foot-link a {
    text-decoration: none;
}

.foot .foot-link a:hover {
    color: rgb(210, 20, 30) !important;
}

.foot-link i {
    margin-right: 10px;
}

.foot-social .social-link a{
   color: rgb(210, 20, 30);
   margin-right: 20px;
   font-size: 20px;
}

.foot-social .social-link a .fab:hover {  
   transform: rotateY(540deg);
   transition: 1s;
}

.copyright p {
    color: rgb(172, 170, 170) !important;
    font-size: 14px;
}
