html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ship-loading.gif) center no-repeat #fff;
}


header {
    background-color: rgb(210, 20, 30);
    padding: 10px;
    border-bottom: 1px solid rgb(190, 164, 164);
}

.navbar {
   padding: 20px;
}

.navbar-nav .nav-link {
   color: white !important;
   padding-right: 15px !important;
   font-size: 18px;
}

.nav-link:hover {
    color: rgb(210, 20, 30) !important;
    border-bottom: 2px solid rgb(210, 20, 30);
}

.nav-link.active {
    color: rgb(210, 20, 30) !important;
    border-bottom: 2px solid rgb(210, 20, 30);
}

.btn-quote {
    margin-left: 150px;
    background-color: white;
    color: rgb(210, 20, 30);
    border: 1px solid white;
    font-size: 18px;
}

.btn-quote:hover {
    color: white;
    background-color: rgb(210, 20, 30);
    border: 1px solid white;
}

.header-link {
    text-decoration: none;
}

.header-content {
    color: white;
    font-size: 12px;
    padding-right: 20px;
}

.header-content .fas {
    font-size: 15px !important;
}

.social :hover {
    transform: rotateY(540deg);
    transition: 1s;
    color: black;
}

.charter-home {
    padding-top: 100px;
}

.charter-box {
    width: 500px;
    background-color: white;
}

.charter-column {
    padding: 15px;
}

.charter-column a span {
    color: rgb(210, 20, 30);
    font-size: 30px;
}

.charter-column a {
    text-decoration: none;
}

.charter-column-track {
    background-color: rgb(210, 20, 30);
    color: white;
}

.charter-column-track a span {
    color: white;
    font-size: 30px;
}

.tracking {
    border-radius: 0px !important;
    height: 60px;
}

.btn-track {
    background-color: rgb(210, 20, 30);
    border-radius: 0px;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/ship-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.banner-text {
    color: white;
    padding-top: 80px;
}

.banner-text h1 {
    font-weight: 600;
}

.banner-text p {
    color: rgb(233, 76, 84);
    line-height: 2em;
}


.welcome-single-services {
    margin-top: 30px;
    background: #fff;
}

.welcome-single-services .img-box {
    background: #fff;
    width: 222px;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.welcome-single-services .img-box, .welcome-single-services .text-box {
    display: table-cell;
    vertical-align: middle;
}

.welcome-single-services .text-box {
    background: rgb(245, 234, 234);
    position: relative;
    padding-left: 25px;
    padding-right: 27px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.welcome-single-services .text-box:before {
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    -webkit-transform: skew(
-12deg
);
    -ms-transform: skew(-12deg);
    transform: skew(
-12deg
);
    background: rgb(245, 234, 234);
    z-index: 9;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.welcome-single-services:hover .text-box {
    background: rgb(210, 20, 30);
}

.welcome-single-services:hover .text-box::before {
    background: rgb(210, 20, 30);
}

.welcome-single-services:hover .text-box h3 {
    color: white !important;
}

.welcome-single-services:hover .text-box p {
    color: white !important;
}

.welcome-single-services .text-box .content {
    position: relative;
    z-index: 11;
}

.welcome-single-services .text-box h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(210, 20, 30);
    font-weight: bold;
    line-height: 33px;
    margin-bottom: 9px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.welcome-single-services .text-box p {
    color: #898989;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.welcome-single-services .text-box p {
    color: #898989;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.welcome-single-services .text-box:after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -21px;
    -webkit-transform: skew(
-13deg
);
    -ms-transform: skew(-13deg);
    transform: skew(
-13deg
);
    background: #DADADA;
    z-index: 8;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }

.banner-form {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    padding: 30px;
}

.banner-form h3 {
    color: rgb(210, 20, 30);
}

.banner-form p {
    font-size: 14px;
}

.btn-get-quote {
    background-color: rgb(210, 20, 30);
    color: white;
    padding: 10px;
    border: 2px solid rgb(210, 20, 30);
}

.btn-get-quote:hover {
    color: rgb(210, 20, 30);
    background-color: white;
}

.main h2 {
    color: rgb(210, 20, 30);
    font-weight: 600;
}

.main p {
    line-height: 2em;
    color: rgb(77, 74, 74);
}

.btn-learn {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    width: 200px;
    padding: 8px;
}

.btn-learn:hover {
    background-color: rgb(210, 20, 30);
    color: white !important;
}

.work-details {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 4px;
    height: 250px;
}


.work-icons {
    color: rgb(210, 20, 30);
    font-size: 30px;
}

.work-text {
    font-weight: 600;
    font-size: 18px;
}

.second-work {
    margin-top: 20px;
}

.services-area {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-box {
    border: 2px solid rgb(210, 20, 30);
    border-radius: 4px;
    padding: 30px;
}

.charter-header {
    font-weight: 500 !important;
}

.charter-manage i{
    color: rgb(210, 20, 30);
    font-size: 50px;
}

.charter-manage p {
    line-height: 1.5em;
    font-size: 15px;
    margin-top: 20px;
}

.btn-contact {
    color: rgb(210, 20, 30);
    border: 1px solid rgb(210, 20, 30);
    padding: 15px;
}

.btn-contact:hover {
    color: white;
    background: rgb(210, 20, 30);
}

.service-icons {
    color: white;
    font-size: 40px;
}

.service-text {
    font-size: 20px;
}

.list {
    list-style-type: square;
    line-height: 2.2em;
    font-size: 20px;
}

.testimonial-area h3 {
    color: rgb(126, 13, 19);
}

.testimonial-content {
    padding: 30px;
    margin-right: 20px;
    background: #eee;
    box-shadow: 5px 8px 10px rgb(0 0 0 / 0.2);
}

.testimonials-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-content .quote {
    font-size: 20px;
    margin-right: 150px;
    color: rgb(210, 20, 30);
}

.testimonial-content .testimonial-text {
    font-size: 15px !important;
}

.rating .fa-star {
    color: rgb(230, 197, 13);
}

.rating .fa-star-half {
    color: rgb(230, 197, 13);
}

.testimonial-name p{
    font-style: italic;
    font-size: 15px;
    color: rgb(126, 13, 19) !important;
}

.ship-truck-banner {
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../img/shipping-truck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    padding-top: 150px;
}

.btn-truck-quote {
    background-color: rgb(210, 20, 30);
    padding: 15px 30px 15px 30px;
    font-size: 20px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(210, 20, 30);
    color: white;
    cursor: pointer;
    height: 50px !important;
    width: 55px !important;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.footer-area {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.9);
}

.foot .foot-head {
    color: rgb(210, 20, 30);
}

.foot .foot-link {
    list-style-type: none;
    line-height: 2em;
    padding-left: 0px !important;
}

.foot .foot-link a {
    text-decoration: none;
}

.foot .foot-link a:hover {
    color: rgb(210, 20, 30) !important;
}

.foot-link i {
    margin-right: 10px;
}

.foot-social .social-link a{
   color: rgb(210, 20, 30);
   margin-right: 20px;
   font-size: 20px;
}

.foot-social .social-link a .fab:hover {  
   transform: rotateY(540deg);
   transition: 1s;
}

.copyright p {
    color: rgb(172, 170, 170) !important;
    font-size: 14px;
}


.btn-find {
    background-color: rgb(210, 20, 30);
    padding: 15px;
}

.drop-package-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)) , url(../img/fedex-package.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    padding-top: 150px;
}

.drop-banner-text {
    font-size: 18px;
}

.drop-banner-link {
    color: rgb(210, 20, 30);
    text-decoration: none;
}
.fxg-jump-links {
    width: 100%;
    height: 55px;
    text-align: center;
    background: rgba(255,255,255,0.9);
    border-bottom: 2px solid #d5d5d5;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    -ms-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
}

.fxg-jump-links__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.fxg-wrapper {
    width: 970px;
    margin: 0 auto;
}

.fxg-jump-links__nav {
    display: none;
    padding: 18px 5px;
}

.fxg-jump-links__nav--left svg {
    -moz-transform: rotate(-270deg) translateX(2px);
    -ms-transform: rotate(-270deg) translateX(2px);
    -webkit-transform: rotate(
-270deg
) translateX(2px);
    transform: rotate(
-270deg
) translateX(2px);
}

.fxg-jump-links__nav svg {
    width: 18px;
    height: 16px;
    fill: #333;
}

svg:not(:root) {
    overflow: hidden;
}

.fxg-jump-links__bar {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

.fxg-jump-links__bar:hover .fxg-jump-links__link-item:hover, .fxg-jump-links__bar .fxg-jump-links__link-item.is-active {
    padding-bottom: 0;
    border-bottom: 4px solid rgb(210, 20, 30);
}

.fxg-jump-links__link-item {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.fxg-jump-links__link-item:hover .fxg-link, .fxg-jump-links__link-item.is-active .fxg-link {
    color: rgb(210, 20, 30);
}

.fxg-link {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.fxg-jump-links__nav--right svg {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(
-90deg
);
    transform: rotate(
-90deg
);
}

.fxg-jump-links .fxg-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    white-space: nowrap;
    letter-spacing: 1px;
    color: #333;
    overflow: hidden;
    padding: 14px 0;
    margin: 0;
}

.fxg-jump-links--sticky {
    position: fixed;
    top: 0;
    z-index: 10;
}

.full-service-text {
    font-size: 17px;
    line-height: 1.8em;
}

.full-service-head {
    color: rgb(210, 20, 30);
}

.more-service-icon {
    color: rgb(210, 20, 30);
    font-size: 80px;
}

.more-service-p {
    color: rgb(105, 104, 104);
}

.service-pill .nav-item .nav-link {
    border-radius: 0px !important;
    color: rgb(210, 20, 30);
    font-size: 18px;
    padding: 20px 40px 20px 40px;
}

.service-pill .nav-item .nav-link.active {
    background-color: rgb(210, 20, 30);
    color: white !important;
}

.pill-offset {
    margin-left: 250px;
}

.pill-offset-2 {
    margin-left: 400px;
}

.supplies-list {
    font-size: 18px;
    
}

.ship-guide-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fedex-track.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    padding-top: 100px;
}

.ship-guide-banner p {
    line-height: 2em;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.ship-guide-col h2{
    color: rgb(210, 20, 30);
}

.ship-guide-col p{
    line-height: 1.8em;
    font-size: 17px;
}

.accordion-button {
    font-size: 20px;
}

.accordion-body {
    font-size: 17px;
    line-height: 2em;
}

.para-head {
    color: rgb(210, 20, 30);
}

.img-responsive {
    width: 100%;
}

.drop-area {
    margin: 15px;
}

.drop-area span {
    font-size: 40px;
    color: white;
    background-color: rgb(210, 20, 30);
    padding: 22px 30px 22px 30px;
    border-radius: 50%;
}

.drop-text {
    color: rgb(77, 74, 74);
    text-decoration: none;
}

.drop-text:hover {
    color: rgb(210, 20, 30);
}

.btn-find-dropoff {
    color: rgb(210, 20, 30);
    border: 2px solid rgb(210, 20, 30);
    width: 300px;
    padding: 20px;
    border-radius: 40px;
    text-transform: uppercase;
}

.btn-find-dropoff:hover {
    color: rgb(210, 20, 30);
}